/* Styling for main body things */

body {
	background-color: black;
	background-image: url("qualitymark.png"), url("smsgraph.png");
	background-attachment: fixed;
	background-size: 20%, 1%;
	background-position: right bottom, left top;
	background-repeat: no-repeat, repeat;
	font-family: 'Segoe UI', Helvetica, 'OnePlus Sans', Arial, sans-serif;
	Margin-top: 25px;
	Margin-bottom: 25px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	Font-Size: 40px;
	color: #0063A9;
	text-align: center;
	border-radius: 0px;
	border: solid 0px;
	background-color: rgba(0,0,0,0.75);
	width:80%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	
}

h2 {
	Font-Size: 25px;
	color: black;
	text-align: center;
	height: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 15px;
	width: 80%;
	height: 100%;
	margin: auto;
}

a {
	color: white;
	Font-Size: 25px;
	color: white;
	text-align: center;
	border-radius: 0px;
	border: solid 0px;
	background-color: rgba(0,0,0,0.75);
	width:80%;
	height: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	jusify-content: center;
	align-items: center;
	text-decoration: none;
}

a:hover {
  background-color: #0063A9;
}


/* Prototype mobile theme */

/* Styling for main body things */
@media only screen and (max-width: 600px) {


body {
	background-color: black;
	background-image: url("qualitymark.png"), url("smsgraph.png");
	background-attachment: fixed;
	background-size: 38%, 5%;
	background-position: right bottom, left top;
	background-repeat: no-repeat, repeat;
	font-family: 'Segoe UI', Helvetica, 'OnePlus Sans', Arial, sans-serif;
	Margin-top: 5px;
	Margin-bottom: 5px;
}

img {
	max-width:20%;
    height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	Font-Size: 32px;
	color: #0063A9;
	text-align: center;
	border-radius: 0px;
	border: solid 0px;
	background-color: rgba(0,0,0,0.75);
	width:95%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	
}

h2 {
	Font-Size: 20px;
	color: black;
	text-align: center;
	height: 100%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 20x;
	color: black;
	text-align: center;
	width: 95%;
	margin: auto;
}

a {
	color: white;
	Font-Size: 15px;
	color: white;
	text-align: center;
	border-radius: 0px;
	border: solid 0px;
	background-color: rgba(0,0,0,0.75);
	width:90%;
	height: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	jusify-content: center;
	align-items: center;
	text-decoration: none;
}

a:hover {
  background-color: #0063A9;
}


}
/* Sega seal of approval and quality */

/* sealofquality {
	background-image: url('qualitymark.png');
	background-size: cover;
	height: 400px;
	width: 400px;
	background-position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
} */